body{
	
	color: white;
	font-family: Arial;
	
	padding: 0;
	margin: 0;
	
	background-image: url('black_pattern02.jpg');
	/*background-color: gray;*/
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	margin-bottom: 20px;
}

#header{
	padding-right: 0;
	color: white;
	font-size: 3em;
	text-align:left;
	font-family: courier new;
	font-weight: bolder;
	text-shadow: 5px 5px 8px #ED9121;
	margin-top: 4%;
	margin-bottom: 2%;
}

#links{
	font-size: 10pt;
	width: 30%;
	float: right;
	margin-top: 3%;
	color: white;
	margin-right: 3%;
	text-align: right;
	text-shadow: none;
}

#links a{
 color: white;
 text-decoration: none;
 margin: 2%;
}

#links a:hover{
	color: orange;
}

#nav{
	background-color:#121212;
	
	margin: 0;
	padding:0;
	color: white;
	width: 180px;
	float: left;
	height: 500px;
	
}

#nav ul, nav ul,ul{
	margin: 0;
	padding: 0;
	
}

#nav li{
	list-style: none;
	position: relative;
	width:160px;
	height: 30px;
	padding:0 10px;
	background-color: #121212;
	/*background-color: green;*/
	line-height: 30px;
	cursor:pointer;
	text-align: right;
	font-size: 75%;
	border-bottom: 1px solid #eeeeee;
}

#nav ul ul li{
	text-align: left;
	width: 135px;
	
	background-color: #121212;
	
	font-size: 90%
	
	
}

#nav li a{
	text-decoration:none;
	color: white;
}

#nav li:hover{
	background-color: black;
	border-right: solid 3px orange;
}

#nav ul ul{
	position: absolute;
	top:0;
	left:183px;
	visibility:hidden;
}

#nav ul li:hover ul{
	visibility: visible;
}

#content{
	width: 625px;
	color: black;
	padding: 2em;
	padding-left: 4em;
	margin-right: 15px;

	margin-left: 180px;
	font-size: 130%;
	line-height: 150%;
	text-align: justify;

}

#contentTitle{
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	margin-left: -50px;
}

#content code{
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px
}

#info{
	background-color: #eeeeee; 
	height:500px;
}
